
/* ---------common or universe selector-------------  */
*{  
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* --------------------header style start----------------------- */

.banner_title{
    text-align: center;
    margin: 1em 0;    
}
.banner{
    width: 80%;
    background-color: rgba(28, 25, 30, 0.963);
    color: whitesmoke;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 0 4em ;
    border-radius: 20px;
}

.banner_text{
    width: 50%;
}


.banner_text h2{
    font-size: 70px;
    line-height: 80px;
}


.banner_text > p{
    font-size: 16px;
    line-height: 26px;
    
}


#banner_btn{
    padding: 8px 20px;
    background-image: linear-gradient(#da9517, #ce4931);
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 20px;
}

.banner_image{
    width: 50%; 
}

.banner_image > img{
    width: 100%;
    height: 100%;
}

/* ------------animation style------------------------ */


.ball{
    width: 100%;
    height: 100px;
    position: relative;
    animation: bouncing 2s ease-in-out 0.4s infinite alternate ;
}

@keyframes bouncing {
    0%{
       
        left: -67px;
    }

    100%{
        left: 130px;
       
    }

}


/* ---------------------header style end---------------------------------- */

/* ---------------players container style start---------------------------- */
    /* side navigation start */
.container{
    display: flex;
    width: 80%;
    height: 100%;
    gap: 20px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 20px;

}

#side_navber{
    min-width: 300px;
    height: 220px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-top: 1.5em; 
}

.left_nav a{
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
}


#matches > a{
    padding: 10px 20px;
          
}

#group > a{          
    padding: 10px 52px;            
}

#blog > a{           
    padding: 10px 72px;
} 

#matches, #blog, #group, a:hover{
    background: #DD0000;
    color: whitesmoke; 
}



 /* -------------side navigation end -------------------------*/

 /* players style start */
 .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
   
}
 .player{ 
    width: 100%;
    height: 100%;
    margin-right: 35px;
    border: 1px solid lightgray;
    border-radius: 10px;
 }

 .player_image > img{
    width: 100%;
 }

 .player_text{
    padding-left: 20px;
    padding-top: 15px;
 }

 .player_text p {
    padding-top: 10px;
 }



 .reguler_btn{
    width: 100px;
    height: 32px;
    border-top-color: gray;
    border-radius: 5px;

 }
 .icons{
    display: flex;
    gap: 20px;
    color: #6c5f5f;
    margin-top: 20px;

 }

 /*------------------ players style end---------------------- */



/* -------------only tablet view button start------------------------- */
.exclusive_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: none; 
}
.btn > a{
    text-decoration: none;
    padding: 10px 20px;
    background: #DD0000;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
   
}
/* 
----------------footer style start---------------------------------  */

.footer{
    width: 100%;
    height: 350px;
    background-color: #000;
    margin: 0 auto;
    color: #B9B9B9;

}

.footer_info{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    
    
}
.social_icon{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.social_icon > a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}

/* ----------------footer style end---------------------------------  */

/* ---------------media query start---------------------- */
/*----------- responsive mobile phone start--------------------- */

@media screen and (max-width: 576px) {

    .container{
        flex-direction: column;
    }
    .banner{
       flex-direction: column;
    
    }

    .banner_text h2{
        font-size: 20px;
        line-height: normal;
        
    }

    .banner_text p{
        white-space: nowrap; 
        width: 60%; 
        overflow: hidden;
        text-overflow: ellipsis; 
       
       
    }

#banner_btn{
    padding: 8px 10px;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
}



.players{
    grid-template-columns: repeat(1, 1fr);
}

.player{
    height: 100%;
}

.footer{
    height: 400px;
}
.footer_info{
    flex-direction: column;

}


}

/*-----------responsive mobile phone end--------------------- */

/* ---------responsive use for tablet start---------------- */
@media only screen and (min-width: 577px) and (max-width: 992px){

    .container{
        flex-direction: column;
    }

.banner_text{
    width: 258px;
    height: 178px;
    align-items: center;
}

.banner_text h2{
    font-size: 30px;
    line-height: 50px;
   
    
}

.banner_text p{
    white-space: nowrap; 
    width: 60%; 
    overflow: hidden;
    text-overflow: ellipsis; 
   
}

   
    #side_navber{
        flex-direction: row;
        justify-content: center;
        background-color: #f4eded;

    }

    #matches > a{
       padding: 5px 10px;
              
    }
    
    #group > a{          
        padding: 5px 10px;

    }
    #blog > a{
        padding: 5px 30px;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

.exclusive_btn{
    display: block;
    margin-top: 50px;
    display: flex;
    margin-top: 50px;
    
}
.footer{
    margin-top: 50px;
}

}
/* ---------responsive use for tablet end---------------- */

/* ------- responsive use for desktop and laptop start ------ */

@media screen and (min-width: 993px) and (max-width: 1312px) {
    .banner{
        justify-content: center;
        align-items: center;
    }
    #side_navber{
        flex-direction: column;
        align-items: center;
    }

    .container{
        display: flex;
    }

    .players{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* ------- responsive use for desktop and laptop end ------ */

